<!--<header id="header" class="header fixed-top">-->

<!--  <div class="topbar d-flex align-items-center">-->
<!--    <div class="container d-flex justify-content-center justify-content-md-between">-->
<!--      <div class="contact-info d-flex align-items-center">-->
<!--        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">it&#64;gmail.com</a></i>-->
<!--        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+1 1111 11111 11</span></i>-->
<!--      </div>-->
<!--      <div class="languages d-none d-md-flex align-items-center">-->
<!--        <ul>-->
<!--          <li>En</li>-->
<!--          <li><a href="#">Fr</a></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>&lt;!&ndash; End Top Bar &ndash;&gt;-->

<!--  <div class="branding d-flex align-items-cente">-->

<!--    <div class="container position-relative d-flex align-items-center justify-content-between">-->
<!--      <a href="" class="logo d-flex align-items-center me-auto me-xl-0" style="text-decoration: none;">-->
<!--        &lt;!&ndash; <img src="assets/img/logo.jpg" alt="">&ndash;&gt;-->
<!--        <h1 class="sitename" style="color: var(&#45;&#45;accent-color); margin: 0; font-size: 26px; font-weight: 600; font-family: var(&#45;&#45;heading-font);">-->
<!--          IT-Company-->
<!--        </h1>-->
<!--      </a>-->


<!--      <nav id="navmenu" class="navmenu">-->
<!--        <ul>-->
<!--          <li><a [routerLink]="['/home']" fragment="home" routerLinkActive="active">Home</a></li>-->
<!--          <li><a href="#about">About</a></li>-->
<!--          <li><a href="#menu">Why Choose Us</a></li>-->
<!--          <li><a href="#specials">Our Services</a></li>-->
<!--          <li><a href="#events">Our Users</a></li>-->
<!--          <li><a href="#gallery">Gallery</a></li>-->
<!--          <li><a href="#contact">Contact</a></li>-->
<!--        </ul>-->
<!--        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>-->
<!--      </nav>-->

<!--      <a class="btn-book-a-table d-none d-xl-block" routerLink="/login" routerLinkActive="active">{{ isLogin() ? "login" : "logout" }}</a>-->

<!--    </div>-->

<!--  </div>-->

<!--</header>-->
<header class="header-wrapper">
  <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/feab29a3e181e5c51d3c4b494a40bb849d35ea6b8052aa3659d074666e215299?placeholderIfAbsent=true&apiKey=fbeb5a321590488ab4d866ae3e262c8d" alt="Logo" class="logo">
  <nav class="header">
    <div class="nav-wrapper">
      <ul class="nav-menu">
        <li class="nav-items">Home</li>
        <li class="nav-items">Booking</li>
        <li class="nav-items">Destinations</li>
        <li class="nav-items">About Us</li>
        <li class="nav-items">Contact</li>
      </ul>
      <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/442d4a623b136300a9a6629565bd5e745594bd429e66f6272979a178640fd7b0?placeholderIfAbsent=true&apiKey=fbeb5a321590488ab4d866ae3e262c8d" alt="Menu" class="menu-icon">
    </div>
    <div class="auth-buttons">
      <span class="login-text">Log in</span>
      <button class="signup-button">Sign up</button>
    </div>
  </nav>
</header>
