/* Table Container */
.card {
  border: 1px solid #ccc; /* Bordure légère */
  border-radius: 8px; /* Coins arrondis */
  margin-bottom: 20px; /* Espacement entre les cartes */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.card-img-top {
  border-radius: 8px 8px 0 0; /* Coins arrondis pour l'image */
  height: 200px; /* Ajustez la hauteur de l'image */
  object-fit: cover; /* Garder le rapport d'aspect de l'image */
}

.no-image-placeholder {
  height: 200px; /* Même hauteur que l'image pour l'uniformité */
  display: flex;
  align-items: center; /* Centrer verticalement le texte */
  justify-content: center; /* Centrer horizontalement le texte */
  background-color: #f8f9fa; /* Couleur de fond pour le placeholder */
  border-radius: 8px 8px 0 0; /* Coins arrondis pour le placeholder */
}

/* Image Style */
img {
  max-width: 100px;
  max-height: 75px;
  margin-right: 10px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Button Style */
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;

  &:hover {
    background-color: #0056b3;
  }


}
