<app-nav-bar></app-nav-bar>
<section class="hero">
  <div class="overlay">
    <h1>Morocco: A Unique <br> Cultural Heritage</h1>
    <div class="search-bar">
      <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/1df5ef68b6467efb882ec3c3372fae0ed3c1d98c577fae647327b9ded989060c?placeholderIfAbsent=true&apiKey=af169940446d48718e0b8026890b04d0" alt="" class="search-icon" id="icono" />
      <div class="input-group">
        <label for="location">Location</label>
        <input type="text" id="location" placeholder="Where are you going?">
      </div>
      <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/f891af40c0f59dc3de64e611ede4ad30e1b2a67d9a5184d25a7be71b8bf0ac67?placeholderIfAbsent=true&apiKey=af169940446d48718e0b8026890b04d0" alt="" class="search-icon"id="icona" />

      <div class="input-group">
        <label for="date">Date</label>
        <input type="date" id="date" placeholder="Set date">
      </div>

      <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/b4cbf35967b7bf802543f1a695c34be39a77f44a1e2b67567f97dd8efb0b7428?placeholderIfAbsent=true&apiKey=af169940446d48718e0b8026890b04d0" alt="" class="search-icon" id="iconi" />

      <div class="input-group">
        <label for="category">Category</label>
        <input type="text" id="category" placeholder="excursion, hotel, event">
      </div>
      <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/af77a26bbf0110f9e8ba378eec3fcdc7a022e66096a7128825395f1701181e14?placeholderIfAbsent=true&apiKey=af169940446d48718e0b8026890b04d0" alt="" class="search-button-icon" />

      <button class="search-btn">Search</button>
    </div>
  </div>
</section>
<div class="container">
  <h2>Add Contact</h2>
  <form (ngSubmit)="addContact()">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input id="firstName" [(ngModel)]="contact.firstName" name="firstName" class="form-control" required />
    </div>
    <div class="form-group">
      <label for="fullName">Full Name</label>
      <input id="fullName" [(ngModel)]="contact.fullName" name="fullName" class="form-control" required />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" type="email" [(ngModel)]="contact.email" name="email" class="form-control" required />
    </div>
    <div class="form-group">
      <label for="message">Message</label>
      <textarea id="message" [(ngModel)]="contact.message" name="message" class="form-control" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Add Contact</button>
  </form>
</div>
