
<app-nav-bar></app-nav-bar>

<section class="landing-page">
  <div class="home-page">
    <body>
    <section class="hero">
      <div class="overlay">
        <h1>Morocco: A Unique Cultural Heritage</h1>
        <div class="search-bar">
          <div class="input-group">
            <label for="location">Location</label>
            <input type="text" id="location" placeholder="Where are you going?">
          </div>
          <div class="input-group">
            <label for="date">Date</label>
            <input type="date" id="date" placeholder="Set date">
          </div>
          <div class="input-group">
            <label for="category">Category</label>
            <input type="text" id="category" placeholder="excursion, hotel, event">
          </div>
          <button class="search-btn">Search</button>
        </div>
      </div>
    </section>
    </body>
  </div>

</section>


<app-footer></app-footer>
