@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@600;700&family=Manrope:wght@400&display=swap');

.form-container {
  max-width: 361px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  color: #1c1f37;
  letter-spacing: 0.08px;
  font: 400 16px/1 Mulish, sans-serif;
}

.form-input {
  border-radius: 8px;
  background-color: #fff;
  width: 100%;
  padding: 14px 16px;
  border: 1px solid #fd7401;
  margin-bottom: 26px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.submit-btn {
  font-family: 'Abhaya Libre', serif;
  font-size: 18px;
  padding: 10px 20px;
  background-color: #fd7401;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  width: 100%;
}

.submit-btn:hover {
  background-color: #e06300;
}

.title {
  font-family: "Abhaya Libre", serif;
  font-weight: 700;
  font-size: 20px;
  color: #181818;
  margin-bottom: 20px;
}

::ng-deep .p-button {
  background-color: #fd7401 !important;
  font-family: "Abhaya Libre", serif;
  border: 1px solid #fd7401;
  color: white !important;
  padding: 10px 15px !important;
  font-size: 1rem !important;
  cursor: pointer !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-left: 450px;
  margin-bottom : 20px ;
}

::ng-deep .p-button:hover {
  border: 1px solid #fd7401;
  background-color: white !important;
}
