
<form [formGroup]="searchForm" (ngSubmit)="searchEvents()">
  <div class="form-group">
    <label for="name">Event Name</label>
    <input type="text" id="name" formControlName="name" class="form-control">
  </div>

  <div class="form-group">
    <label for="category">Category</label>
    <select id="category" formControlName="category" class="form-control">
      <option value="">Select Category</option>
      <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="distance">Max Distance (km)</label>
    <input type="number" id="distance" formControlName="distance" class="form-control">
  </div>

  <button type="submit" class="btn btn-primary">Search</button>
</form>


<form [formGroup]="filterForm" (ngSubmit)="onFilter()">
  <div>
    <label for="minPrice">Min price:</label>
    <input id="minPrice" formControlName="minPrice" type="number">
  </div>

  <div>
    <label for="maxPrice">Max Price:</label>
    <input id="maxPrice" formControlName="maxPrice" type="number">
  </div>

  <div>
    <label for="minRating">Min rating:</label>
    <input id="minRating" formControlName="minRating" type="number">
  </div>

  <div>
    <label for="maxRating">Max rating:</label>
    <input id="maxRating" formControlName="maxRating" type="number">
  </div>

  <div>
    <label for="maxDistance">Max Distance:</label>
    <input id="maxDistance" formControlName="maxDistance" type="number">
  </div>

  <button type="submit">Filter</button>
</form>


