
<app-nav-bar></app-nav-bar>

<section class="hero">
  <div class="overlay">
    <h1>Traditional Hotels</h1>

    <section class="search-container">
      <div class="search-bg">
        <div class="search-content">

          <div class="search-item">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/d3aaac8b5c6e706ec34c97b35ae12e6cb1834d548e23419f330120c04622c3da?placeholderIfAbsent=true&apiKey=af169940446d48718e0b8026890b04d0" alt="Location icon" class="search-icon" />
            <div class="search-details">
              <div class="search-label">
                <span>Location</span>
                <input [(ngModel)]="location" placeholder="Enter location" class="search-value" />
              </div>
            </div>
          </div>

          <div class="search-item">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/d3aaac8b5c6e706ec34c97b35ae12e6cb1834d548e23419f330120c04622c3da?placeholderIfAbsent=true&apiKey=af169940446d48718e0b8026890b04d0" alt="Category icon" class="search-icon" />
            <div class="search-details">
              <div class="search-label">
                <span>Category</span>
                <select [(ngModel)]="category" class="search-value">
                  <option value="" disabled selected>Select category</option>
                  <option *ngFor="let cat of categories" [value]="cat">{{ cat }}</option>
                </select>
              </div>
            </div>
          </div>

          <button class="search-button" (click)="searchHotels()">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/9990986f798c21cceb1b1d3fad20c575fc5fdc4602f9e8c8b17aed5e6d776fff?placeholderIfAbsent=true&apiKey=af169940446d48718e0b8026890b04d0" alt="" class="search-icon" />
          </button>
        </div>
      </div>
    </section>

<!--    <section class="search-container" style="margin-top : 20px">-->
<!--      <div class="search-bg">-->
<!--        <div class="search-content">-->

<!--          <div class="search-item">-->
<!--            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/d3aaac8b5c6e706ec34c97b35ae12e6cb1834d548e23419f330120c04622c3da?placeholderIfAbsent=true&apiKey=af169940446d48718e0b8026890b04d0" alt="Min Rating icon" class="search-icon" />-->
<!--            <div class="search-details">-->
<!--              <div class="search-label">-->
<!--                <span>Min Rating</span>-->
<!--                <input type="number" id="minRating" [(ngModel)]="minRating" name="minRating" class="search-value" min="0" max="5" step="0.1" required />-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="search-item">-->
<!--            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/d3aaac8b5c6e706ec34c97b35ae12e6cb1834d548e23419f330120c04622c3da?placeholderIfAbsent=true&apiKey=af169940446d48718e0b8026890b04d0" alt="Max Rating icon" class="search-icon" />-->
<!--            <div class="search-details">-->
<!--              <div class="search-label">-->
<!--                <span>Max Rating</span>-->
<!--                <input type="number" id="maxRating" [(ngModel)]="maxRating" name="maxRating" class="search-value" min="0" max="5" step="0.1" required />-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <button type="submit" class="search-button">-->
<!--            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/9990986f798c21cceb1b1d3fad20c575fc5fdc4602f9e8c8b17aed5e6d776fff?placeholderIfAbsent=true&apiKey=af169940446d48718e0b8026890b04d0" alt="Filter icon" class="search-icon" />-->
<!--          </button>-->

<!--        </div>-->
<!--      </div>-->
<!--    </section>-->


  </div>
</section>


<section class="explore-hotels">
  <h2 class="section-heading">Explore our hotels</h2>
  <div class="hotel-content">

    <div *ngFor="let hotel of hotels" class="hotel-layout">
      <div class="hotel-info">
        <h3 class="hotel-name">{{ hotel.name }}</h3>
        <p class="hotel-description">{{ hotel.description }}</p>
        <p class="hotel-location">Location: {{ hotel.location }}</p>
<!--        <p class="hotel-category">Category: {{ hotel.categoryHotel }}</p>-->
        <p class="hotel-rating">Average Rating: {{ hotel.averageRating }}</p>
<!--        <p class="hotel-distance">Distance: {{ hotel.distance }} km</p>-->

        <ul class="feature-list">
          <li class="feature-item">
            <img src="https://media.istockphoto.com/id/1313547780/vector/profile-verification-check-marks-icons-vector-illustration.jpg?s=612x612&w=0&k=20&c=XDWxGC05gd-sTn_cBvlI2aG1onqOdiVdPb0IeFO-Q2M=" class="feature-icon" alt="Feature" />
            <span class="feature-text">Full financial protection</span>
          </li>
          <li class="feature-item">
            <img src="https://media.istockphoto.com/id/1313547780/vector/profile-verification-check-marks-icons-vector-illustration.jpg?s=612x612&w=0&k=20&c=XDWxGC05gd-sTn_cBvlI2aG1onqOdiVdPb0IeFO-Q2M=" class="feature-icon" alt="Feature" />
            <span class="feature-text">Flexible & customizable tour options</span>
          </li>
          <li class="feature-item">
            <img src="https://media.istockphoto.com/id/1313547780/vector/profile-verification-check-marks-icons-vector-illustration.jpg?s=612x612&w=0&k=20&c=XDWxGC05gd-sTn_cBvlI2aG1onqOdiVdPb0IeFO-Q2M=" class="feature-icon" alt="Feature" />
            <span class="feature-text">Hassle-free travel experience</span>
          </li>
        </ul>
        <button class="book-button" (click)="viewRooms(hotel)">View Rooms</button>
      </div>

      <div class="hotel-image-container">
        <img [src]="hotel.img" class="hotel-image" alt="{{ hotel.name }}" />
        <div class="price-tag">from {{ hotel.price | currency }}</div>
      </div>
    </div>
  </div>

  <div *ngIf="showRooms" class="events-container">
    <h3 class="events-title" style="display : flex ; justify-content : center ; margin-right: 1038px;" >Available Rooms:</h3>
    <div class="events-list">
      <article class="event-card" *ngFor="let room of rooms">
        <div class="event-details">

          <div class="event-content">

            <img
              [src]="(room.images && room.images.length > 0) ? room.images[0] : 'assets/img/about.jpg'"
              alt="Room Image"
              width="100"
              class="shadow-4"
            />

            <h3 class="event-name">{{ room.type }}</h3>

            <div class="price-details">
              <p class="price-amount">{{ room.price | currency:'MAD' }}</p>
            </div>

            <div class="action-buttons">
              <button class="btn btn-secondary view-reviews-btn" (click)="viewReviews(room.id)">View Reviews</button>
<!--              <button class="btn btn-secondary" (click)="showForm = true">Add Review</button>    -->
              <button *ngIf="room.available" class="btn btn-primary book-btn" (click)="showBookingFormForRoom(room.id)"></button></div>
          </div>
        </div>
      </article>
    </div>
  </div>

</section>

<section class="review">
  <div *ngFor="let review of reviews" class="review-card">
    <div class="review-header">
      <h3>{{ review.client?.email }}</h3>
      <p class="rating">
        <i class="fas fa-star"></i> {{ review.rating }} / 5
      </p>
    </div>
    <div class="review-body">
      <p>
        <i class="fas fa-comment"></i> {{ review.comment }}
      </p>
    </div>
<!--    <div class="review-footer">-->
<!--      <p>-->
<!--        <i class="fas fa-calendar-alt"></i> {{ review.date }}-->
<!--      </p>-->
<!--    </div>-->
  </div>
</section>


<section class="booking-section"  >
  <h1 class="heading">Book Now!</h1>
  <div class="wrapper-content">
    <div class="layout-columns">
      <div class="column">
        <form class="form-booking" (ngSubmit)="bookRoom()">
          <h2 class="heading-form">Room Details</h2>
          <div class="group-form">
            <label for="personCount" class="label-form">Number of Persons</label>
            <input
              type="number"
              id="personCount"
              class="input-form"
              [(ngModel)]="bookingData.numberOfPersons"
              name="personCount"
              placeholder="Input number of persons"
              required
            />
          </div>
          <div class="group-form">
            <label for="checkInDate" class="label-form">Check In Date</label>
            <input
              type="datetime-local"
              id="checkInDate"
              class="input-form"
              [(ngModel)]="bookingData.checkInDate"
              name="checkInDate"
              required
            />
          </div>
          <div class="group-form">
            <label for="checkOutDate" class="label-form">Check Out Date</label>
            <input
              type="datetime-local"
              id="checkOutDate"
              class="input-form"
              [(ngModel)]="bookingData.checkOutDate"
              name="checkOutDate"
              required
            />
          </div>
          <button type="submit" class="button-book">Book Now!</button>
        </form>

        <div *ngIf="confirmationMessage" class="confirmation-message">
          <p>{{ confirmationMessage }}</p>
        </div>

        <div *ngIf="errorMessage" class="error-message">
          <p>{{ errorMessage }}</p>
        </div>
      </div>

<!--      <div class="column">-->
<!--        <h2>Available Rooms</h2>-->
<!--        <article *ngFor="let room of rooms" class="card-event">-->
<!--          <img-->
<!--            [src]="room.imageUrl"-->
<!--            alt="Room image"-->
<!--            class="image-event"-->
<!--          />-->
<!--          <div class="details-event">-->
<!--            <h3 class="heading-event">{{ room.name }}</h3>-->
<!--            <p class="count" style="margin-top: 25px;">From ${{ room.price }}</p>-->
<!--          </div>-->
<!--        </article>-->
<!--      </div>-->
    </div>
  </div>
</section>



<div *ngIf="showForm" class="review-form-container">
  <div class="review-form">
    <h2>Add Review</h2>
    <form (ngSubmit)="onSubmit()">
      <div>
        <label for="rating">Rating (1-5):</label>
        <input type="number" id="rating" [(ngModel)]="reviewData.rating" name="rating" min="1" max="5" required />
      </div>
      <div>
        <label for="comment">Comment:</label>
        <textarea id="comment" [(ngModel)]="reviewData.comment" name="comment" required></textarea>
      </div>
      <button type="submit">Submit Review</button>
    </form>
  </div>
</div>


<section class="subscribe-section">
  <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/e9829732528809e029a3e754174143e7bf3373e8d07689dff1af3d8b7b880cae?placeholderIfAbsent=true&apiKey=af169940446d48718e0b8026890b04d0" class="background-image" alt="" />
  <div class="content-wrapper">
    <h2 class="subscribe-text">
      Subscribe to get information, latest news and other interesting offers about us
    </h2>
    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/8c9710e0c4ea694149d81accc7f0157d6c4438d44ffd57172792c85480114a35?placeholderIfAbsent=true&apiKey=af169940446d48718e0b8026890b04d0" class="decorative-image" alt="" />
  </div>
  <form class="form-container">
    <div class="input-wrapper">
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/03aae23473b09ad935442d51c0961a46c9083d90371253daab99c7e3eee5e7fe?placeholderIfAbsent=true&apiKey=af169940446d48718e0b8026890b04d0" class="email-icon" alt="" />
      <label for="emailInput" class="visually-hidden">Your email</label>
      <input type="email" id="emailInput" class="email-input" placeholder="Your email" aria-label="Your email" required />
    </div>
    <button type="submit" class="subscribe-button">Subscribe</button>
  </form>
</section>


<app-footer></app-footer>
