@import "primeicons/primeicons.css";

.ok .p-table {
  border-collapse: collapse;
  width: 100%;
}

.ok .p-table thead th {
  background-color: #FF5B19;
  color: white;
  padding: 12px;
  text-align: left;
  transition: background-color 0.3s ease; /* Animation de transition */
}

.ok .p-table tbody td {
  border: 1px solid #ddd;
  padding: 8px;
  transition: background-color 0.3s ease;
}

.ok .p-table tbody tr:hover {
  background-color: #FF5B19;
  color: white;
}



.ok .p-button:hover {
}

.p-datatable .p-datatable-thead > tr > th {
  text-align: left;
  padding: 1rem 1rem;
  border: 1px solid #e5e7eb;
  border-width: 0 0 1px 0;
  font-weight: 700;
  color: #FF5B19;
  background: #f9fafb;
  transition: box-shadow 0.2s;
}
/* CSS pour le bouton de suppression */
.p-button-danger {
  background-color: #FF5B19 !important; /* couleur orange */
  border-color: #FF5B19 !important; /* couleur de la bordure */
}

.p-button-danger:hover {
  background-color: #FF3D00 !important; /* couleur au survol */
}
