<!--<footer class="footer">-->

<!--  <div class="container footer-top">-->
<!--    <div class="row gy-4">-->
<!--      <div class="col-lg-4 col-md-6 footer-about">-->
<!--        <a href="/" class="logo d-flex align-items-center">-->
<!--          <span class="sitename" style="color: #FD7401FF;">It-Company</span>-->
<!--        </a>-->
<!--        <div class="footer-contact pt-3">-->
<!--          <p>A108 Morocco</p>-->
<!--          <p>Morocco, M535022</p>-->
<!--          <p class="mt-3"><strong>Phone:</strong> <span>+1 1111 11111 11</span></p>-->
<!--          <p><strong>Email:</strong> <span>info&#64;it.com</span></p>-->
<!--        </div>-->
<!--        <div class="social-links d-flex mt-4">-->
<!--          <a href=""><i class="bi bi-twitter-x"></i></a>-->
<!--          <a href=""><i class="bi bi-facebook"></i></a>-->
<!--          <a href=""><i class="bi bi-instagram"></i></a>-->
<!--          <a href=""><i class="bi bi-linkedin"></i></a>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col-lg-2 col-md-3 footer-links">-->
<!--        <h4 style="color: #FD7401FF;">Useful Links</h4>-->
<!--        <ul>-->
<!--          <li><a href="#">Home</a></li>-->
<!--          <li><a href="#">About us</a></li>-->
<!--          <li><a href="#">Services</a></li>-->
<!--          <li><a href="#">Terms of service</a></li>-->
<!--          <li><a href="#">Privacy policy</a></li>-->
<!--        </ul>-->
<!--      </div>-->

<!--      <div class="col-lg-2 col-md-3 footer-links">-->
<!--        <h4 style="color: #FD7401FF;">Our Services</h4>-->
<!--        <ul>-->
<!--          <li><a href="#">Services IT</a></li>-->
<!--          <li><a href="#">It</a></li>-->
<!--          <li><a href="#">Always with you</a></li>-->
<!--          <li><a href="#">Apps</a></li>-->
<!--          <li><a href="#">Equipmets</a></li>-->
<!--        </ul>-->
<!--      </div>-->

<!--      <div class="col-lg-4 col-md-12 footer-newsletter">-->
<!--        <h4 style="color: #FD7401FF;">Our Newsletter</h4>-->
<!--        <p>Subscribe to our newsletter and receive the latest news about our products and services!</p>-->
<!--        <form action="" method="post" class="php-email-form">-->
<!--          <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Subscribe"></div>-->
<!--          <div class="loading">Loading</div>-->
<!--          <div class="error-message"></div>-->
<!--          <div class="sent-message">Your subscription request has been sent. Thank you!</div>-->
<!--        </form>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->

<!--  <div class="container copyright text-center mt-4">-->
<!--    <p>© <span>Copyright</span> <strong class="px-1 sitename">IT-COMPANY</strong> <span>All Rights Reserved</span></p>-->
<!--  </div>-->

<!--</footer>-->


<div class="div-56">
  <div class="div-57">
    <div class="div-58">
      <div class="div-59">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/36659d5bdfe70a7fcabba607e04c17ba98d698bf90a0a4dc7536b696a6ddaaef?placeholderIfAbsent=true&apiKey=fbeb5a321590488ab4d866ae3e262c8d"
          class="img-51"
        />
        <div class="discover-morocco">DiscoverMorocco</div>
      </div>
      <div
        class="we-are-dedicated-to-bringing-you-the-best-of-moroccos-rich-cultural-heritage"
      >
        We are dedicated to bringing you the best of Morocco's rich cultural
        heritage
      </div>
      <div class="div-60">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/06f3c1d8c2fe4a71bf2acbd13eedfba4941abb16ae7b5f23b8abe40849c7e329?placeholderIfAbsent=true&apiKey=fbeb5a321590488ab4d866ae3e262c8d"
          class="img-52"
        />
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/522ead8a90f61fd785169d3db00d6ecc6cdac8cf2128afda1c2127632a632ec8?placeholderIfAbsent=true&apiKey=fbeb5a321590488ab4d866ae3e262c8d"
          class="img-53"
        />
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/2518232728eb95d2af2296f4e7e0f3a406f86aef45cbb6dc4e62817edbb42d9a?placeholderIfAbsent=true&apiKey=fbeb5a321590488ab4d866ae3e262c8d"
          class="img-54"
        />
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/8440eb9658d69ccd9df595129b7b0f089433e6677f4b611062d10956db312f8c?placeholderIfAbsent=true&apiKey=fbeb5a321590488ab4d866ae3e262c8d"
          class="img-55"
        />
      </div>
    </div>
    <div class="div-61">
      <div class="page">Page</div>
      <div class="div-62">
        <div>Destination</div>
        <div class="packages">Packages</div>
        <div class="gallery">Gallery</div>
        <div class="tour-guide">Tour Guide</div>
        <div class="blog">Blog</div>
        <div class="fa-q">FaQ</div>
      </div>
    </div>
    <div class="div-63">
      <div class="links">Links</div>
      <div class="div-64">
        <div>Term Of Use</div>
        <div class="privacy-policy">Privacy Policy</div>
      </div>
    </div>
    <div class="div-65">
      <div class="contact-us">Contact Us</div>
      <div class="div-66">
        <div class="div-67">
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/473aba4de7ce17fcc08a93b8544c352d8fe9123d3edfa064511683b7e69e973a?placeholderIfAbsent=true&apiKey=fbeb5a321590488ab4d866ae3e262c8d"
            class="img-56"
          />
          <div class="12-27181-9281">+12 27181 9281</div>
        </div>
        <div class="div-68">
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/084be5fe6e88fdc5df4d61f6d1424dfd30a8e693a36feb7a0a4ad07760b6cee9?placeholderIfAbsent=true&apiKey=fbeb5a321590488ab4d866ae3e262c8d"
            class="img-57"
          />
          <div class="discover-gmail-com">discover&#64;gmail.com</div>
        </div>
        <div class="div-69">
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/2644952e82f7af4dec47f54f4053548ca9209d59c3ea123a20594b800401d932?placeholderIfAbsent=true&apiKey=fbeb5a321590488ab4d866ae3e262c8d"
            class="img-58"
          />
          <div class="beni-mellal-morocco">Beni Mellal , Morocco</div>
        </div>
      </div>
    </div>
    <div class="div-70">
      <div class="booking-destination">Booking Destination</div>
      <div class="div-71">
        <div class="what-you-want-is-here-book-and-fly">
          What you want is here ! Book and fly
        </div>
        <div class="button-6">Booking now</div>
      </div>
    </div>
  </div>
  <img
    loading="lazy"
    src="https://cdn.builder.io/api/v1/image/assets/TEMP/ac149b8b104ff0733916eb5bf1dfc29e0b1a94c2949268e6a3e4fde50212e6ad?placeholderIfAbsent=true&apiKey=fbeb5a321590488ab4d866ae3e262c8d"
    class="img-59"
  />
  <div class="copyright-2022-tourtle-all-right-reserved">
    Copyright &#64;2024. DiscoverMorocco ,All Right Reserved
  </div>
</div>
